<h2>{{title}}</h2>

<form action="{{action}}" method="post">
  <p>
    <label for="">Edad</label>
    <input type="number" name="edad" placeholder="edad">
  </p>
  <p>
    <label for="">Estatura</label>
    <input type="number" name="estatura" placeholder="estatura">
  </p>
  <p>
    <label for="">Peso</label>
    <input type="number" name="peso" placeholder="peso">
  </p>
  <p>
    <label for="">GEB</label>
    <input type="number" name="GEB" placeholder="GEB">
  </p>
  <input type="submit" value="Aceptar cambios">
</form>
<br>
<a href="/profile">Cancelar</a>